:root {
  --background-color: rgb(5, 14, 40);
  --font-family: Courier;
  --font-color: white;
}

h1 {
  text-align: center;
}

p {
  color: var(--font-color)
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--font-color);
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

/* Hide the scrollbar */
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.container {
  position: relative;
  width: 100%;
  text-align: center;
}

.left {
  position: absolute;
  left: 0;
}

.center {
  margin: 0 auto;
}

.right {
  position: absolute;
  right: 0;
}

.text-container {
  width: 300px;
  /* Set the width of the container */
  /* Do not set height to allow vertical expansion */
  border: 1px solid #ccc;
  /* Optional: Add border for visual clarity */
  padding: 10px;
  /* Optional: Add padding for spacing */
}


.button {
  background-color: green;
  color: var(--font-color);
}

.button:hover {
  background-color: rgb(5, 87, 5);
}

.display-container {
  display: inline-block;
  width: auto;
  /* Allow the container to adjust its width based on the content */
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.display {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}