:root {
  --background-color: rgb(6, 11, 25);
  --font-family: Courier;
  --font-color: white;
}

h1 {
  text-align: center;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--font-color);
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.button {
  background-color: green;
  color: var(--font-color);
}

.button:hover {
  background-color: rgb(5, 87, 5);
}

.container {
  text-align: center;
}

.display-container {
  display: inline-block;
  width: auto;
  /* Allow the container to adjust its width based on the content */
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.display {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}